html, body {
    padding: 0;
    margin: 0;
    background: url('https://i.imgur.com/bSMXvf1.jpg') repeat;
}
#coa {
    max-width: 30%;
}
details {
    width: 30%;
    margin: auto; 
    padding: 0.4rem; 
    background: #FFF; 
    border: 2px solid #f6e078; 
    border-radius: 0.5rem; 
    cursor: pointer;
}